# Common dependencies
node_modules/
clean-repo/
dist/
build/
web-build/
.expo/
.expo-shared/
*.tsbuildinfo

# Firebase configs
**/google-services.json
**/GoogleService-Info.plist

# Environment / secrets
.env
.env.*
**/.env
**/.env.*

# Firebase Admin private
**/serviceAccountKey.json
**/firebase-adminsdk-*.json

# System / IDE
.DS_Store
*.pem
*.orig.*
*.log
.vscode/
*.code-workspace

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Native signing
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Expo / TS / cache
expo-env.d.ts
.metro-health-check*

# Your local sensitive deploy configs
setup-eas-secrets.ps1
eas.json
